*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-weight: 900;
    color: #130f40;
}

body{
    background-color: #95afc0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    /* background-color: aqua; */
    padding: 20px;
    display: flex;
    justify-content: center;
}

ul li{
    display: flex;
    width: 150px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 0 0 8px;
    cursor: pointer;
}

.red{
    background-color: #eb4d4b;
}
.green{
    background-color:#2ed573 ;
}
.blue{
    background-color: #3742fa;
}
.yellow{
    background-color:#eccc68 ;
}
.pink{
    background-color: #e056fd;
}

.btn{
    padding: 20px 50px;
    margin: 10px;
    width: 200px;
    color: #ced6e0;
    font-size: 20px;
    font-weight: 700;
    background-color: #2f3542;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px;
    cursor: pointer;
}